
* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;

}
html {
  position: relative;
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%;
}
.navbar {
	width: 100%;
	border-bottom: 2px solid #cccccc;
	overflow: hidden;
}

.navbar-name {
	background-color: #4aaaa5;
	color: #fff;
	font-weight: 800;
	font-size: 1.5em;
	float: left;
	padding: 20px;
	margin-left: 80px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.navbar-nav {
	float: right;
	margin-right: 80px;
}
.nav-link {
	display: inline-block;
	padding: 20px;
}
.nav-link a {
	color: #666666;
	text-decoration: none;
}

.container {
	clear: both;
	margin: 0 auto;
	padding: 20px 80px 65px 80px;
	width: 960px;
	/*overflow: hidden;*/
	height: 100%;
	background-image: url("../images/ep_naturalwhite.png");
	overflow: auto;
}
.main-content {
	border: 1px solid #dddddd;
	float: left;
	/*max-width: 650px;*/
	width: 60%;
	padding: 15px;
	margin-right: 10%;
	background-color: #fff;
	
}
.side-panel {
	border: 1px solid #dddddd;
	/*max-width: 270px;*/
	width: 30%;
	float: right;
	padding: 10px;
	background-color: #fff;
}
.title {
	color: #4aaaa5;
	font-size: 1.5em;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: 700;
	padding-bottom: 10px;
	border-bottom: 2px solid #cccccc;
}
.side-title {
	color: #4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: 700;
	padding-bottom: 10px;
	border-bottom: 2px solid #cccccc;
}

.portfolio-image {
	float: left;
	padding: 10px 10px 10px 0;
	width: 200px;
}

.portfolio-images {
	width: 100%;
}

.portfolio-bio-image {
	float: left;
	padding: 10px 10px 10px 0;
	width:200px;
}

.line-height {
	line-height: 1.5;
	padding-top: 10px;
}

.line-height p {
	padding-bottom: 5px;
}

.connect-logo a img {
	width: 50px;
	height: 50px;
	margin: 5px 5px;
}

.portfolio-container {
	float: left;
	width: 50%;
	margin: 20px auto;
	text-align: center;
}
.portfolio-container div {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.portfolio-label {
	background-color: #4aaaa5;
	color: #fff;
	padding: 10px 0;
	bottom: 50px;
}
.contact-form {
	width: 100%;
}
.contact-form label {
	width: 100%;
	display: block;
	margin: 10px auto;
}
.contact-form label input {
	width: 100%;
	display: block;
	margin: 10px auto;
}
.contact-form label textarea {
	width: 100%;
	display: block;
	margin: 10px auto;
}
.submit {
	color: #fff;
	background-color: #4aaaa5;
	padding: 10px 20px;
}

.footer {
	clear: both;
	width: 100%;
	text-align: center;
	position: relative;
	bottom: 0;
}
.tealbar {
	background-color: #4aaaa5;
	height: 5px;
}
.footer-content {
	background-color: #666666;
	color: #cccccc;
	padding: 20px 0;
	font-size: .75sem;
}




@media screen and (min-width: 980px) /* Desktop */ {
  /* not needed? */
}

@media screen  and (max-width: 768px) /* Tablet */ {
    .navbar {
  	padding: 0;
  	margin: 0;
  }
  .navbar-name {
  	width: 100%;
  	margin: 0;
  	text-align: center;
  }
  .navbar-nav {
  	margin: 0;
  	float: none;
  }
  .nav-link {
  	width: 33%;
  	float: left;
  	text-align: center;
  }
  .container {
  	width: 100%;
  	padding: 20px;
  }
  .main-content {
  	width: 100%;
  }
  .portfolio-container {
  	width: 100%;
  }
  .portfolio-container div {
  	width: 100%;
  }
  .portfolio-images {
  	width: 100%;
  }
  .portfolio-bio-image {
  	width: 50%;
  }
  .side-panel {
  	width: 100%;
  	max-width: 100%;
  	float: left;
  	margin-top: 20px;
  }
}

@media screen and (max-width: 640px) /* Mobile */ {
  .navbar {
  	padding: 0;
  	margin: 0;
  }
  .navbar-name {
  	width: 100%;
  	margin: 0;
  	text-align: center;
  }
  .navbar-nav {
  	margin: 0;
  	float: none;
  }
  .nav-link {
  	width: 33%;
  	float: left;
  	text-align: center;
  }
  .container {
  	width: 100%;
  	padding: 20px;
  }
  .main-content {
  	width: 100%;
  }
  .portfolio-container {
  	width: 100%;
  }
  .portfolio-container div {
  	width: 100%;
  }
  .portfolio-images {
  	width: 100%;
  }
  .portfolio-bio-image {
  	width: 100%;
  }
  .side-panel {
  	width: 100%;
  	max-width: 100%;
  	float: left;
  	margin-top: 20px;
  }
}